.text-selector-item {
    box-sizing: border-box;
    height: 45px;
    width: 63px;
    border: 1px solid #1D1F22;
    font-family: Source Sans Pro;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 45px;
    &-active {
        background-color: #1D1F22;
        color: white;
    }
}