.product-attributes {
    margin-top: 43px;
    &_item {
        cursor: pointer;
        span {
            display: inline-block;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 8px;
        }
        margin-bottom: 24px;
    }
}